a {
    text-decoration: none;
    padding: 10px;
    color: blueviolet;
    border: solid rgb(47, 95, 255);
    border-radius: 10px;
}

a:hover {
    background-color: purple;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: auto;
    padding-top: 25px;
    padding-right: 5px;
    /* list-style-type: none; */
}

nav {
    height: 100px;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 100px;


}

img {
    float: left;
    border-radius: 250px;
}

h1 {
    text-align: center;
}

.float {
    text-align: center;
    padding-top: 8px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 10px #ff0000;
}

#sticky {
    border: 2px solid black;
    background-color: orange;
    width: 130px;
    padding: 5px 50px;
    border-radius: 7px;


    margin-left: 42.5%;

    position: sticky;
    top: 0;
}

.float {
    text-align: center;
    padding-top: 8px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 10px #ff0000;
}

.footer {
    background-color: aqua;
    border: solid aqua;
    /* position: absolute; */
    /* bottom: 2%; */
    margin-top: 21%;
}

h3 {
    text-align: center;
    color: blueviolet;
    padding: 3%;
}

.b {
    border: solid white;
    height: 10%;
}